* {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,body {
  height: 100%;
  margin: 0;
}
body {
  // display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 15px;
  background: url(../images/home-page.jpg) 55% 75%/cover fixed;
  /* backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px); */
}
main {
  background: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: calc(100vh - 39px);
  max-width: 320px;
}
p {
  margin: 0;
}
hr {
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin: 10px 0;
}
#links {
  width: 200px;
}
main > *:not(:last-child) {
  margin-bottom: 10px;
}
.icon {
  width: 24px;
  height: 24px;
  fill: transparent;
  stroke: black;
  stroke-width: 2;
  stroke-linecap: round;
}
a {
  text-decoration: none;
  color: rgb(170,57,57);
}
a:hover {
  text-decoration: underline;
}
a.main {
  display: block;
  // margin: 5px 0;
  // margin: 30px 0 0 30px;
  // margin-top: 10px;
  padding: 10px 20px;
  // background-color: rgba(0,0,0,.5);
  background-color: rgba(170,57,57,.8);
  color: white;
  border-radius: 5px;
  // color: black;
  text-align: center;
  box-shadow: 3px 3px 3px 0 rgba(0,0,0,.5);
  transition: box-shadow 300ms;
}
#bottom {
  display: block;
  text-align: center;
  border-top: 1px solid black;
  padding-top: 5px;
  margin-bottom: -5px;
  box-sizing: content-box;
}
#bottom:hover {
  text-decoration: none;
}
/* a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  backdrop-filter: blur(4px);
  border-radius: 5px;
} */
a.main:hover {
  /* background-color: rgba(0,0,0,.8); */
  // background-color: rgba(170,57,57,1);
  box-shadow: 6px 6px 6px 0 rgba(0,0,0,.5);
  /* color: white; */
  transition: box-shadow 300ms;
}